<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Contact | M G R</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--  logo -->

      <link rel="icon" type="image/png" href="/images/123123.png">

      <!--Bootstrap CDN-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!--Jquery CDN-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!--Bootstrap CDN-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <!--Font Awesome CDN-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
      <link rel="stylesheet" href="/style.css" type="text/css">
      
</head>
    <body>
   <!--
            !     Nav Bar
        -->


    <nav class="navbar container-fluid navbar-default" style=" padding: 5px 3%; background-color:#080606 ; ">
        <div class="navbar-header">
          <h1 id="h11"><a href="/" ><i class="fas fa-infinity" style="font-size: 40px;"></i> M G R</a></h1>
        </div>
        <ul id="unorder" class="nav navbar-nav navbar-right " style="font-size:20px;color: white; ">
          <li><a href="/" >Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li> <a href="/admin" >Admin</a></li>
        </ul>
        
      </nav> 


            <!--
            !     Contact Page
        -->
        <div class="container-fluid text-center"  style="height:60vh; background-color: #fbfbfb; margin-top: -50px; " >
            <h1 class="text-center" style="margin-top: 70px;">Contact Us</h1>
            <div class="row" style="margin-top: 60px;">
                <div class="col-sm-4">
                    <i id="font" class="fas fa-regular fa-headset"></i>
                    <h3>BY PHONE</h3>
                    <p class="conttd">(Monday to Friday 9am to 4pm)</p>
                    <p class="conttd">+94371234567</p>

                </div>
                <div class="col-sm-4">
                    <i id="font" class="fas fa-regular fa-comment-dots"></i>
                    <h3>LIVE CHAT</h3>
                    <p class="conttd">Chat with a member of in our team</p>
                    <button style="margin-top: 10px;"  class="btn">Start Chat</button>
                </div>
                <div class="col-sm-4">
                    <i id="font" class="fas fa-light fa-calendar-plus"></i>
                    <h3> BOOK A DATE</h3>
                    <p class="conttd">Get a Appoinment to visit us</p>
                    <button style="margin-top: 10px;" class="btn">Book</button>
                </div>
            </div>
        </div>

        <!--
        !   Google Map
        -->
        <div class="container-fluid" style="height: 75vh; background-color:#f3eae8;">
            <h1 class="text-center" style="margin-top: 70px;" >Our Company</h1>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="700" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=Kurunegala&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br>
                    <style>.mapouter{position:relative;text-align:right;height:250px;width:700px;}
                    </style><a href="https://www.embedgooglemap.net">google maps on websites</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:700px;}</style>
                </div>
            </div>
        </div>
        <!--
          !     Footer    ! 
      -->
      
      <div class="container-fluid" style="height:28vh; background-color: #000000;">
        <div class="row text-center" style="margin-top:4vh;">
          <div class="col-sm-4"></div>
          <div class="col-sm-1"><a class="fontAws" href="https://www.facebook.com/profile.php?id=100061253912933" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
          <div class="col-sm-1"><a class="fontAws" href="https://twitter.com/M_Ahmed_Anwer"target="_blank"><i class="fab fa-twitter"></i></a></div>
          <div class="col-sm-1"><a class="fontAws" href="https://www.instagram.com/m_ahmed.anwer/"target="_blank"><i class="fab fa-instagram"></i></a></div>
          <div class="col-sm-1"><a class="fontAws" href="https://github.com/m-ahmed-anwer" target="_blank"><i class="fab fa-github"></i></a></div>
          <div id="textfoot" class="col-sm-12">Copyright <i class="fa-regular fa-copyright"></i> 2022, MGR Inc. <br>All Rights Reserved <br> M.A.Ahmed</div>
        </div>
      </div>
    
    </body>
</html>